USE [master]
GO
/****** Object:  Database [Data]    Script Date: 28.12.2022 16:49:31 ******/
CREATE DATABASE [Data]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Data.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Data_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Data_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Data].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Data]
GO
/****** Object:  Table [dbo].[Adres]    Script Date: 28.12.2022 16:49:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adres](
	[AdresID] [int] IDENTITY(1,1) NOT NULL,
	[Sehir] [nvarchar](15) NOT NULL,
	[Ilce] [nvarchar](20) NOT NULL,
	[Cadde_Sokak] [nvarchar](50) NOT NULL,
	[Numara] [int] NOT NULL,
	[KullaniciID] [int] NOT NULL,
 CONSTRAINT [PK_Adres] PRIMARY KEY CLUSTERED 
(
	[AdresID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Beden]    Script Date: 28.12.2022 16:49:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beden](
	[BarkodNo] [int] NOT NULL,
	[Beden] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Beden] PRIMARY KEY CLUSTERED 
(
	[BarkodNo] ASC,
	[Beden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Email]    Script Date: 28.12.2022 16:49:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Email](
	[Email] [nvarchar](50) NOT NULL,
	[KullaniciID] [int] NOT NULL,
 CONSTRAINT [PK_Email] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favoriler]    Script Date: 28.12.2022 16:49:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favoriler](
	[KullaniciID] [int] NOT NULL,
	[BarkodNo] [int] NOT NULL,
	[Tarih] [smalldatetime] NULL,
 CONSTRAINT [PK_Favoriler] PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC,
	[BarkodNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fis]    Script Date: 28.12.2022 16:49:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fis](
	[FisID] [int] IDENTITY(1,1) NOT NULL,
	[ToplamTutar] [decimal](15, 6) NOT NULL,
	[İndirimliOdenenTutar] [decimal](15, 6) NOT NULL,
	[KrediKartiNo] [decimal](16, 0) NOT NULL,
	[Tarih] [smalldatetime] NOT NULL,
	[Sehir] [nvarchar](15) NOT NULL,
	[Ilce] [nvarchar](20) NOT NULL,
	[Cadde_Sokak] [nvarchar](50) NOT NULL,
	[Numara] [int] NOT NULL,
	[IletisimMaili] [nvarchar](50) NOT NULL,
	[KullaniciID] [int] NOT NULL,
 CONSTRAINT [PK_Fis] PRIMARY KEY CLUSTERED 
(
	[FisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FisUrun]    Script Date: 28.12.2022 16:49:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FisUrun](
	[FisID] [int] NOT NULL,
	[BarkodNo] [int] NOT NULL,
	[Miktar] [int] NOT NULL,
	[IadeDurumu] [bit] NOT NULL,
	[Yorum] [nvarchar](max) NULL,
	[Resim] [nvarchar](100) NULL,
	[FisUrunID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_FisUrun_1] PRIMARY KEY CLUSTERED 
(
	[FisUrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KrediKarti]    Script Date: 28.12.2022 16:49:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KrediKarti](
	[KrediKarti] [decimal](16, 0) NOT NULL,
	[KullaniciID] [int] NOT NULL,
 CONSTRAINT [PK_KrediKarti] PRIMARY KEY CLUSTERED 
(
	[KrediKarti] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 28.12.2022 16:49:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](20) NOT NULL,
	[Soyad] [nvarchar](20) NOT NULL,
	[Sifre] [nvarchar](10) NOT NULL,
	[Yetki] [char](1) NOT NULL,
 CONSTRAINT [PK_Kullanici] PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteri]    Script Date: 28.12.2022 16:49:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteri](
	[KullaniciID] [int] NOT NULL,
	[Bakiye] [decimal](7, 2) NOT NULL,
	[Puan] [int] NOT NULL,
 CONSTRAINT [PK_Musteri] PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Renk]    Script Date: 28.12.2022 16:49:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Renk](
	[BarkodNo] [int] NOT NULL,
	[Renk] [nvarchar](20) NOT NULL,
	[Resim] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Renk] PRIMARY KEY CLUSTERED 
(
	[BarkodNo] ASC,
	[Renk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sepet]    Script Date: 28.12.2022 16:49:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sepet](
	[KullaniciID] [int] NOT NULL,
	[SepetID] [int] IDENTITY(1,1) NOT NULL,
	[Miktar] [int] NOT NULL,
	[BarkodNo] [int] NOT NULL,
	[Renk] [nvarchar](20) NOT NULL,
	[Beden] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Sepet_1] PRIMARY KEY CLUSTERED 
(
	[SepetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sube]    Script Date: 28.12.2022 16:49:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sube](
	[SubeID] [int] IDENTITY(1,1) NOT NULL,
	[Sehir] [nvarchar](15) NOT NULL,
	[Ilce] [nvarchar](20) NOT NULL,
	[Cadde_Sokak] [nvarchar](50) NOT NULL,
	[PostaKodu] [int] NOT NULL,
 CONSTRAINT [PK_Sube] PRIMARY KEY CLUSTERED 
(
	[SubeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urun]    Script Date: 28.12.2022 16:49:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urun](
	[BarkodNo] [int] IDENTITY(1,1) NOT NULL,
	[Fiyat] [decimal](7, 2) NOT NULL,
	[Cinsiyet] [char](5) NOT NULL,
	[Kategori] [nvarchar](20) NOT NULL,
	[SatisSayisi] [smallint] NOT NULL,
	[Malzeme] [nvarchar](max) NOT NULL,
	[Dış] [nvarchar](50) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Açıklama] [nvarchar](max) NOT NULL,
	[EklenmeTarihi] [smalldatetime] NULL,
	[IadeMiktari] [int] NULL,
	[YasAraligi] [nvarchar](50) NULL,
	[FavoriSayisi] [int] NULL,
 CONSTRAINT [PK_Urun] PRIMARY KEY CLUSTERED 
(
	[BarkodNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunDetay]    Script Date: 28.12.2022 16:49:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunDetay](
	[BarkodNo] [int] NOT NULL,
	[CantaFlag] [bit] NOT NULL,
	[Sap] [nvarchar](20) NULL,
	[AnaMalzeme] [nvarchar](20) NULL,
	[UzunAski] [nvarchar](20) NULL,
	[Yükseklik] [smallint] NULL,
	[Genislik] [smallint] NULL,
	[Derinlik] [smallint] NULL,
	[AyakkabiFlag] [bit] NOT NULL,
	[Ust] [nvarchar](20) NULL,
	[Taban] [nvarchar](20) NULL,
	[IcTaban] [nvarchar](20) NULL,
	[Dil] [nvarchar](20) NULL,
	[CocukFlag] [bit] NOT NULL,
	[YasAraligi] [nvarchar](20) NULL,
	[CocukCinsiyet] [nvarchar](20) NULL,
	[DolguluFlag] [bit] NOT NULL,
	[Dolgu] [nvarchar](30) NULL,
	[SusluFlag] [bit] NOT NULL,
	[Susler] [nvarchar](30) NULL,
	[FonKumasFlag] [bit] NOT NULL,
	[FonKumas] [nvarchar](30) NULL,
	[Kaplama] [nvarchar](30) NULL,
	[IkincilTekstilFlag] [bit] NOT NULL,
	[DisAnaKumas] [nvarchar](30) NULL,
	[IkincilTekstil] [nvarchar](30) NULL,
	[AstarFlag] [bit] NOT NULL,
	[Astar] [nvarchar](30) NULL,
 CONSTRAINT [PK_UrunDetay] PRIMARY KEY CLUSTERED 
(
	[BarkodNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Adres] ON 

INSERT [dbo].[Adres] ([AdresID], [Sehir], [Ilce], [Cadde_Sokak], [Numara], [KullaniciID]) VALUES (1, N'ANKARA', N'KEÇİÖREN', N'1099', 0, 2)
SET IDENTITY_INSERT [dbo].[Adres] OFF
GO
INSERT [dbo].[Beden] ([BarkodNo], [Beden]) VALUES (2, N'L')
INSERT [dbo].[Beden] ([BarkodNo], [Beden]) VALUES (2, N'M')
INSERT [dbo].[Beden] ([BarkodNo], [Beden]) VALUES (2, N'S')
GO
INSERT [dbo].[Email] ([Email], [KullaniciID]) VALUES (N'alirizaaslan2000@gmail.com', 2)
INSERT [dbo].[Email] ([Email], [KullaniciID]) VALUES (N'aysegmail.com', 6)
INSERT [dbo].[Email] ([Email], [KullaniciID]) VALUES (N'canozgan@gmail.com', 3)
GO
SET IDENTITY_INSERT [dbo].[Fis] ON 

INSERT [dbo].[Fis] ([FisID], [ToplamTutar], [İndirimliOdenenTutar], [KrediKartiNo], [Tarih], [Sehir], [Ilce], [Cadde_Sokak], [Numara], [IletisimMaili], [KullaniciID]) VALUES (1, CAST(6995.000000 AS Decimal(15, 6)), CAST(6995.000000 AS Decimal(15, 6)), CAST(1111222233334444 AS Decimal(16, 0)), CAST(N'2022-12-28T14:28:00' AS SmallDateTime), N'ANKARA', N'KEÇİÖREN', N'1099', 0, N'alirizaaslan2000@gmail.com', 2)
INSERT [dbo].[Fis] ([FisID], [ToplamTutar], [İndirimliOdenenTutar], [KrediKartiNo], [Tarih], [Sehir], [Ilce], [Cadde_Sokak], [Numara], [IletisimMaili], [KullaniciID]) VALUES (2, CAST(5098.000000 AS Decimal(15, 6)), CAST(5098.000000 AS Decimal(15, 6)), CAST(1111222233334444 AS Decimal(16, 0)), CAST(N'2022-12-28T14:32:00' AS SmallDateTime), N'ANKARA', N'KEÇİÖREN', N'1099', 0, N'alirizaaslan2000@gmail.com', 2)
SET IDENTITY_INSERT [dbo].[Fis] OFF
GO
SET IDENTITY_INSERT [dbo].[FisUrun] ON 

INSERT [dbo].[FisUrun] ([FisID], [BarkodNo], [Miktar], [IadeDurumu], [Yorum], [Resim], [FisUrunID]) VALUES (1, 71, 5, 0, N'kötü', NULL, 1)
INSERT [dbo].[FisUrun] ([FisID], [BarkodNo], [Miktar], [IadeDurumu], [Yorum], [Resim], [FisUrunID]) VALUES (2, 20, 1, 0, NULL, NULL, 2)
INSERT [dbo].[FisUrun] ([FisID], [BarkodNo], [Miktar], [IadeDurumu], [Yorum], [Resim], [FisUrunID]) VALUES (2, 46, 1, 0, NULL, NULL, 3)
SET IDENTITY_INSERT [dbo].[FisUrun] OFF
GO
INSERT [dbo].[KrediKarti] ([KrediKarti], [KullaniciID]) VALUES (CAST(1111222233334444 AS Decimal(16, 0)), 2)
GO
SET IDENTITY_INSERT [dbo].[Kullanici] ON 

INSERT [dbo].[Kullanici] ([KullaniciID], [Ad], [Soyad], [Sifre], [Yetki]) VALUES (2, N'alirıza', N'aslan', N'12345', N'K')
INSERT [dbo].[Kullanici] ([KullaniciID], [Ad], [Soyad], [Sifre], [Yetki]) VALUES (3, N'Can', N'Özgan', N'123465', N'Y')
INSERT [dbo].[Kullanici] ([KullaniciID], [Ad], [Soyad], [Sifre], [Yetki]) VALUES (4, N'Veli', N'Karadağ', N'123456', N'K')
SET IDENTITY_INSERT [dbo].[Kullanici] OFF
GO
INSERT [dbo].[Musteri] ([KullaniciID], [Bakiye], [Puan]) VALUES (2, CAST(0.00 AS Decimal(7, 2)), 50)
INSERT [dbo].[Musteri] ([KullaniciID], [Bakiye], [Puan]) VALUES (4, CAST(0.00 AS Decimal(7, 2)), 60)
INSERT [dbo].[Musteri] ([KullaniciID], [Bakiye], [Puan]) VALUES (5, CAST(0.00 AS Decimal(7, 2)), 100)
GO
INSERT [dbo].[Renk] ([BarkodNo], [Renk], [Resim]) VALUES (2, N'KAHVERENGİ', N'/img/kadın18blazer.jpg')
INSERT [dbo].[Renk] ([BarkodNo], [Renk], [Resim]) VALUES (3, N'SİYAH', N'/img/kadın4blazer.jpg')
INSERT [dbo].[Renk] ([BarkodNo], [Renk], [Resim]) VALUES (4, N'Siyah', N'/img/kadın12kaban.jpg')
GO
SET IDENTITY_INSERT [dbo].[Sepet] ON 

INSERT [dbo].[Sepet] ([KullaniciID], [SepetID], [Miktar], [BarkodNo], [Renk], [Beden]) VALUES (2, 4, 1, 20, N'beyaz', N'L')
SET IDENTITY_INSERT [dbo].[Sepet] OFF
GO
SET IDENTITY_INSERT [dbo].[Sube] ON 

INSERT [dbo].[Sube] ([SubeID], [Sehir], [Ilce], [Cadde_Sokak], [PostaKodu]) VALUES (1, N'Trabzon', N'Ortahisar', N'Kalkınma', 61200)
INSERT [dbo].[Sube] ([SubeID], [Sehir], [Ilce], [Cadde_Sokak], [PostaKodu]) VALUES (2, N'Samsun', N'İlkadım', N'Selahiye', 55100)
INSERT [dbo].[Sube] ([SubeID], [Sehir], [Ilce], [Cadde_Sokak], [PostaKodu]) VALUES (3, N'Ankara', N'Kızılay', N'Karanfil', 6200)
SET IDENTITY_INSERT [dbo].[Sube] OFF
GO
SET IDENTITY_INSERT [dbo].[Urun] ON 

SET IDENTITY_INSERT [dbo].[Urun] OFF
GO
ALTER TABLE [dbo].[Favoriler] ADD  CONSTRAINT [DF_Favoriler_Tarih]  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Fis] ADD  CONSTRAINT [DF_Fis_Tarih]  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Urun] ADD  CONSTRAINT [DF_Urun_EklenmeTarihi]  DEFAULT (getdate()) FOR [EklenmeTarihi]
GO
ALTER TABLE [dbo].[Adres]  WITH CHECK ADD  CONSTRAINT [FK_Adres_Musteri] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Musteri] ([KullaniciID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Adres] CHECK CONSTRAINT [FK_Adres_Musteri]
GO
ALTER TABLE [dbo].[Beden]  WITH CHECK ADD  CONSTRAINT [FK_Beden_Urun] FOREIGN KEY([BarkodNo])
REFERENCES [dbo].[Urun] ([BarkodNo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Beden] CHECK CONSTRAINT [FK_Beden_Urun]
GO
ALTER TABLE [dbo].[Email]  WITH CHECK ADD  CONSTRAINT [FK_Email_Kullanici] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanici] ([KullaniciID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Email] CHECK CONSTRAINT [FK_Email_Kullanici]
GO
ALTER TABLE [dbo].[Favoriler]  WITH CHECK ADD  CONSTRAINT [FK_Favoriler_Kullanici] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanici] ([KullaniciID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favoriler] CHECK CONSTRAINT [FK_Favoriler_Kullanici]
GO
ALTER TABLE [dbo].[Favoriler]  WITH CHECK ADD  CONSTRAINT [FK_Favoriler_Urun] FOREIGN KEY([BarkodNo])
REFERENCES [dbo].[Urun] ([BarkodNo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favoriler] CHECK CONSTRAINT [FK_Favoriler_Urun]
GO
ALTER TABLE [dbo].[Fis]  WITH CHECK ADD  CONSTRAINT [FK_Fis_Kullanici] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanici] ([KullaniciID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Fis] CHECK CONSTRAINT [FK_Fis_Kullanici]
GO
ALTER TABLE [dbo].[FisUrun]  WITH CHECK ADD  CONSTRAINT [FK_FisUrun_Fis] FOREIGN KEY([FisID])
REFERENCES [dbo].[Fis] ([FisID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FisUrun] CHECK CONSTRAINT [FK_FisUrun_Fis]
GO
ALTER TABLE [dbo].[FisUrun]  WITH CHECK ADD  CONSTRAINT [FK_FisUrun_Urun] FOREIGN KEY([BarkodNo])
REFERENCES [dbo].[Urun] ([BarkodNo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FisUrun] CHECK CONSTRAINT [FK_FisUrun_Urun]
GO
ALTER TABLE [dbo].[KrediKarti]  WITH CHECK ADD  CONSTRAINT [FK_KrediKarti_Musteri] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Musteri] ([KullaniciID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KrediKarti] CHECK CONSTRAINT [FK_KrediKarti_Musteri]
GO
ALTER TABLE [dbo].[Musteri]  WITH CHECK ADD  CONSTRAINT [FK_Musteri_Kullanici] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanici] ([KullaniciID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Musteri] CHECK CONSTRAINT [FK_Musteri_Kullanici]
GO
ALTER TABLE [dbo].[Renk]  WITH CHECK ADD  CONSTRAINT [FK_Renk_Urun] FOREIGN KEY([BarkodNo])
REFERENCES [dbo].[Urun] ([BarkodNo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Renk] CHECK CONSTRAINT [FK_Renk_Urun]
GO
ALTER TABLE [dbo].[Sepet]  WITH CHECK ADD  CONSTRAINT [FK_Sepet_Kullanici] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanici] ([KullaniciID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sepet] CHECK CONSTRAINT [FK_Sepet_Kullanici]
GO
ALTER TABLE [dbo].[Sepet]  WITH CHECK ADD  CONSTRAINT [FK_Sepet_Urun] FOREIGN KEY([BarkodNo])
REFERENCES [dbo].[Urun] ([BarkodNo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sepet] CHECK CONSTRAINT [FK_Sepet_Urun]
GO
ALTER TABLE [dbo].[UrunDetay]  WITH CHECK ADD  CONSTRAINT [FK_UrunDetay_Urun] FOREIGN KEY([BarkodNo])
REFERENCES [dbo].[Urun] ([BarkodNo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UrunDetay] CHECK CONSTRAINT [FK_UrunDetay_Urun]
GO
USE [master]
GO
