
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_YoneticiLayout.cshtml";
}


<div class="container">
	<img style="margin-top:10px;width:100%;height:600px" src="~/img/home.jpg" alt="Alternate Text" />

</div>

