
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}






<div class="container">
	<a href="/Urun/Index/Basic/Kadın"><img style="margin-top:10px;width:100%;height:600px" src="~/img/home.jpg" alt="Alternate Text" /></a>

</div>
